<html>
    <head></head>
    <title>Court Booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/ef66ce4b65.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>
      <div class="designNav fixed-top" id="designHeader">
        <nav>
          <div class="logo">MyCourt</div>
          <ul>
            <li><a href="/home">Home</a></li>
            <li>
              <a href="#">Find Sports Centre</a>
              <ul>
                <li><a href="/findSportCentreLocation">Location</a></li>
                <li><a href="/findSportCentreCourt">Court</a></li>
              </ul>
            </li>
            <li><a href="/bookingHistory">Booking History</a></li>
            <li><a href="/userInfo">User Information</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </nav>
      </div>
    <script>
      $('.icon').click(function()
      {
        $('span').toggleClass("cancel");
      });
    </script>
        <br><br><br><br><br>
        <div class="container">
            <h1>Cancellation Booking</h1>
            <br>
                <div class="mt-5">
                    <form action="/cancellationBookingProcess" method="POST">
                            <!-- Manipulating sports centre image based on initial string of court name -->
                            {% if book.4.startswith('B')  %}
                                <img src="{{ url_for('static', filename='images/badminton6.jpg')}}" class="card-img-top" alt="Card image cap" style="height: 300px; width: 400px; float: left; margin-right: 100px; border-radius: 10px">
                            {% elif book.4.startswith('F')  %}
                                <img src="{{ url_for('static', filename='images/futsal3.jpg')}}" class="card-img-top" alt="Card image cap" style="height: 300px; width: 400px; float: left; margin-right: 100px; border-radius: 10px">
                            {% elif book.4.startswith('S')  %}
                                <img src="{{ url_for('static', filename='images/squash2.png')}}" class="card-img-top" alt="Card image cap" style="height: 300px; width: 400px; float: left; margin-right: 100px; border-radius: 10px">
                            {% elif book.4.startswith('T')  %}
                                <img src="{{ url_for('static', filename='images/tennis4.png')}}" class="card-img-top" alt="Card image cap" style="height: 300px; width: 400px; float: left; margin-right: 100px; border-radius: 10px">
                            {% elif book.4.startswith('V')  %}
                                <img src="{{ url_for('static', filename='images/volleyball3.jpg')}}" class="card-img-top" alt="Card image cap" style="height: 300px; width: 400px; float: left; margin-right: 100px; border-radius: 10px">
                            {% endif %}
                            <h4 style="color: #191970;">{{ book.2 }}</h4><br>
                        <table>
                            <tr>
                                <td style="width: 30px;"><i class="fa-solid fa-location-arrow"></i><br><br></td>
                                <td>Location <br><br></td>
                                <td style="width: 20px;">:<br><br></td>
                                <td style="width: 150px;"><span class="margin-auto">{{ book.3 }}</span><br><br></td>
                                <td style="width: 30px;"><i class="fa-regular fa-calendar-days"></i><br><br></td>
                                <td>Date <br><br></td>
                                <td style="width: 20px;">:<br><br></td>
                                <td><span>{{ book.6 }}</span><br><br></td>
                            </tr>
                            <tr>
                                <td><i class="fa-regular fa-futbol"></i><br><br></td>
                                <td>Court <br><br></td>
                                <td>:<br><br></td>
                                <td><span>{{ book.4 }}</span><br><br></td>
                                <td><i class="fa-solid fa-clock"></i><br><br></td>
                                <td>Time <br><br></td>
                                <td>:<br><br></td>
                                <span>
                                    <!-- Manipulating time value for display -->
                                    {% if book.7|string() == '8:00:00' %}
                                    <td>8.00 AM <br><br></td>
                                    {% elif book.7|string() == '9:00:00' %}
                                    <td>9.00 AM <br><br></td>
                                    {% elif book.7|string() == '10:00:00' %}
                                    <td>10.00 AM <br><br></td>
                                    {% elif book.7|string() == '11:00:00' %}
                                    <td>11.00 AM <br><br></td>
                                    {% elif book.7|string() == '12:00:00' %}
                                    <td>12.00 PM <br><br></td>
                                    {% elif book.7|string() == '13:00:00' %}
                                    <td>1.00 PM <br><br></td>
                                    {% elif book.7|string() == '14:00:00' %}
                                    <td>2.00 PM <br><br></td>
                                    {% elif book.7|string() == '15:00:00' %}
                                    <td>3.00 PM <br><br></td>
                                    {% elif book.7|string() == '16:00:00' %}
                                    <td>4.00 PM <br><br></td>
                                    {% elif book.7|string() == '17:00:00' %}
                                    <td>5.00 PM <br><br></td>
                                    {% elif book.7|string() == '18:00:00' %}
                                    <td>6.00 PM <br><br></td>
                                    {% elif book.7|string() == '19:00:00' %}
                                    <td>7.00 PM <br><br></td>
                                    {% elif book.7|string() == '20:00:00' %}
                                    <td>8.00 PM <br><br></td>
                                    {% elif book.7|string() == '21:00:00' %}
                                    <td>9.00 PM <br><br></td>
                                    {% elif book.7|string() == '22:00:00' %}
                                    <td>10.00 PM <br><br></td>
                                    {% elif book.7|string() == '23:00:00' %}
                                    <td>11.00 PM <br><br></td>
                                    {% else%}
                                    <td>12.00 AM <br><br></td>
                                    {% endif %}
                                </span>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-bookmark"></i><br><br></td>
                                <td>Court No <br><br></td>
                                <td>:<br><br></td>
                                <td><span>{{ book.5 }}</span><br><br></td>
                                <td><i class="fa-solid fa-hourglass-start"></i><br><br></td>
                                <td>Duration &nbsp;<br><br></td>
                                <td>:<br><br></td>
                                {% if book.9 == 1 %}
                                <td>{{ book.9 }} hour<br><br></td>             
                                {% else %}
                                <td>{{ book.9 }} hours<br><br></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-tags"></i></td>
                                <td>Booking Fee &nbsp;</td>
                                <td>:</td>
                                <td><span>RM {{ book.10 }}0</span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                      </table><br>
                      <input id="submit" type="submit" class="btn btn-danger" value="Cancel Booking" style="margin-left: 5px;margin-top: 10px;" onclick="return confirm('Are you sure want to cancel this booking?')"></td>
                        
                    </form>
                </div>
        </div>
        <br><br><br><br><br><br><br><br>
    <div id="designFooter">          
        <div class="card sticky-bottom" style="border-radius: 0; height: 290px;">
            <div class="row mb-3 ">                  
                <div class="col-md-4 col-sm-11 col-xs-11">
                    <div class="footer-text pull-left">
                         <div class="d-flex">
                             <h1 style="color: cyan">MyCourt</h1>
                         </div>
                         <p class="card-text">Sports centre online booking system in Malaysia that helps to give recommendations based on user profile and has user-friendly court booking interface.</p>
                         <div class="social mt-2 mb-3">
                            <i class="fa fa-facebook-official fa-lg" ></i>
                            <i class="fa fa-instagram fa-lg"></i>
                            <i class="fa fa-twitter fa-lg"></i>
                            <i class="fa fa-linkedin-square fa-lg"></i>

                         </div>                        
                     </div>
                </div>                                
                <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>                   
                <div class="col-md-2 col-sm-4 col-xs-4 mt-4">                 
                    <h5 class="heading">Features</h5>
                    <ul >
                        <li>Recommendations </li>
                        <li>Court Booking</li>
                        <li>Online Payment</li>
                    </ul>                 
                </div>        
                <div class="col-md-2 col-sm-4 col-xs-4 mt-4">         
                    <h5 class="heading">Help Centre</h5>
                    <ul class="card-text">
                        <li>FAQ</li>
                        <li>Terms of Use</li>
                        <li>Privacy Policy</li>
                    </ul>             
                </div>              
                 <div class="col-md-2 col-sm-4 col-xs-4 mt-4">
                    <h5 class="heading">About Us</h5>
                    <ul class="card-text">
                        <li>About Us</li>
                        <li>Blog</li>
                        <li>Contact</li>
                    </ul>
                 </div>
            </div>       
            <div class="divider mb-4" >   
            </div>    
            <div class="row" style="font-size:10px;">            
            <div class="col-md-6 col-sm-6 col-xs-6">                
                <div class="pull-left">                     
                    <p><i class="fa fa-copyright"></i> 2023 MyCourt. All Rights Reserved.</p>                       
                </div>                  
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">                
                <div class="pull-right mr-4 d-flex policy">                       
                   <div></div>
                   <div></div>
                   <div></div>                     
                </div>         
            </div>   
         </div>
        </div>            
    </div>
    </body>
</html>